/.web-server-pid
/app/config/parameters.yml
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/js/
/web/css/
/web/assetic/
/web/fonts/
/output/
/docs/api/

*.swp
.DS_Store
i18n_helper.js
