<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% if gmTitle is defined %}{{ gmTitle }} - {% endif %}
            {{ msg('grant-metrics') }}
        </title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{{ gmTitle is defined ? gmTitle : '' }}{% if isRTL() %} rtl{% endif %}">
        <header>
            Nav
        </header>
        <main>
            {% block body %}
            {% endblock %}
        </main>
        <footer>
            Footer
        </footer>
    </body>
</html>
