{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center splash-dialog">
        <h1>{{ msg('welcome') }}</h1>
        {% if app.session.flashBag.has('danger') %}
            {# Only happens when forced to login. #}
            <h4 class="text-danger">
                {{ app.session.flashBag.get('danger')[0] }}
            </h4>
        {% endif %}
        <a class="btn btn-default splash-dialog__login" href="{{ path('toolforge_login') }}">
            {{ msg('login-with-oauth') }}
        </a>
    </div>
{% endblock %}
