{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center splash-dialog">
        <h1>{{ msg('welcome') }}</h1>
        <a class="btn btn-default splash-dialog__login" href="{{ path('login') }}">
            {{ msg('login-with-oauth') }}
        </a>
    </div>
{% endblock %}
