{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center splash-dialog">
        <h1>{{ msg('welcome') }}</h1>
        <button class="splash-dialog__login btn btn-default">
            {{ msg('login-with-oauth') }}
        </button>
    </div>
{% endblock %}
