# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database.host: 127.0.0.1
    database.port: ~
    database.name: grantmetrics
    database.user: root
    database.password: ~

    database.test.host: 127.0.0.1
    database.test.port: ~
    database.test.name: grantmetrics_test
    database.test.user: root
    database.test.password: ~

    database.replica.is_wikimedia: 0

    database.replica.host: 127.0.0.1
    database.replica.port: ~
    database.replica.name: enwiki_p
    database.replica.user: root
    database.replica.password:

    mailer.transport: smtp
    mailer.host: 127.0.0.1
    mailer.user: ~
    mailer.password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Oauth consumer credentials, from https://meta.wikimedia.org/wiki/Special:OAuthConsumerRegistration
    oauth.key:                  ~
    oauth.secret:               ~
    oauth.callback:             http://localhost/grantmetrics/app_dev.php/oauth_callback

    # Number of days after the event, at which a user is consider to have been retained.
    app.retention_offset: 7

    # Number of revisions to show per page on the Event Data page.
    app.revisions_per_page: 100

    # Admins who can view/edit/delete any program or event.
    app.admins:
        - MusikAnimal
