@import 'mixins';
@import url('https://tools-static.wmflabs.org/fontcdn/css?family=Open+Sans');

html {
    height: 100%;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
        url('https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
        url('https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg') format('svg');
}

.font-awesome {
    font-family: 'FontAwesome';
}

body {
    font-family: 'Open Sans', sans-serif !important;
    min-height: 100%;
    position: relative;

    /* add spacing for sticky footer */
    &::after {
        content: '';
        display: block;
        min-height: 148px;
    }
}

.table th {
    font-weight: normal;
}

.form-horizontal label {
    font-weight: normal;
}

.app-header {
    line-height: 48px;
    min-height: 53px !important;

    > .container-fluid {
        padding-right: 7px;
    }

    .breadcrumb {
        background: transparent;
        display: inline;
        margin: 0;
        padding: 0;
    }
}

.home-link {
    display: inline-block;
    margin-right: 12px;
    padding-right: 12px;
    position: relative;

    &::after {
        background: #e7e7e7;
        bottom: 0;
        content: '';
        display: inline-block;
        height: 80%;
        left: 100%;
        margin: auto;
        position: absolute;
        top: 3px;
        width: 1px;
    }
}

.logged-in {
    margin-right: 10px;
}

.lang-group {
    .dropdown-menu {
        max-height: 214px;
        overflow-y: scroll;
    }

    .btn {
        padding-left: 30px;
    }

    svg {
        height: 17px;
        left: 8px;
        position: absolute;
        top: 8px;
        width: 17px;
    }
}

.alert-container .alert:last-child {
    margin: 0;

    .close {
        opacity: 0.8;
        top: -1px;
    }
}

.app-footer {
    border-radius: 0 !important;
    bottom: 0;
    left: 0;
    line-height: 40px;
    margin-bottom: 0 !important;
    margin-top: 30px;
    min-height: 40px !important;
    position: absolute !important;
    width: 100%;

    ul {
        margin: 0;
    }
}

.footer-links {
    align-items: stretch;
    display: flex;
    flex-direction: row;

    li {
        flex-grow: 1;
        text-align: center;
    }

    a:hover {
        text-decoration: none;
    }
}

.form-group {
    label:not(.checkbox)::after {
        content: ':';
    }

    .invalid-input {
        color: $bootstrap-danger-text;
        font-size: 18px;
        position: absolute;
        right: 24px;
        top: 6px;
    }
}

@media (max-width: $bootstrap-sm) {
    .footer-links {
        display: block;

        li {
            display: block !important;
            text-align: left;
        }
    }
}
