@import 'mixins';

html {
    height: 100%;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.ttf');
}

.font-awesome {
    font-family: 'FontAwesome';
}

body {
    font-family: 'Open Sans', sans-serif !important;
    min-height: 100%;
    position: relative;

    /* add spacing for sticky footer */
    &::after {
        content: '';
        display: block;
        min-height: 148px;
    }
}

.app-header {
    line-height: 48px;
}

.lang-group {
    .dropdown-menu {
        max-height: 214px;
        overflow-y: scroll;
    }

    .btn {
        padding-left: 30px;
    }

    svg {
        height: 17px;
        left: 8px;
        position: absolute;
        top: 8px;
        width: 17px;
    }
}

.app-footer {
    border-radius: 0 !important;
    bottom: 0;
    left: 0;
    line-height: 40px;
    margin-bottom: 0 !important;
    margin-top: 30px;
    min-height: 40px !important;
    position: absolute !important;
    width: 100%;

    ul {
        margin: 0;
    }
}

.footer-links {
    align-items: stretch;
    display: flex;
    flex-direction: row;

    li {
        flex-grow: 1;
        text-align: center;
    }

    a:hover {
        text-decoration: none;
    }
}

@media (max-width: $bootstrap-sm) {
    .footer-links {
        display: block;

        li {
            display: block !important;
            text-align: left;
        }
    }
}
