.event {
    .wiki-row {
        margin-bottom: 0;

        &:first-child .remove-wiki {
            display: none;
        }

        &:not(:first-child) .label-group {
            visibility: hidden;
        }
    }

    .event__time.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .enable-time__label {
        display: inline-block;
    }

    .event__time-selector .form-group {
        margin-bottom: 0;
    }

    .enable-time label::after {
        content: '';
    }

    .events-metadata td {
        padding-bottom: 3px;

        &:first-child {
            padding-right: 10px;
        }
    }
}
