.event,
.eventdata {
    .wiki-row {
        margin-bottom: 0;

        &:first-child .remove-wiki {
            display: none;
        }

        &:not(:first-child) .label-group {
            visibility: hidden;
        }
    }

    .event__time-selector .form-group {
        margin-bottom: 0;
    }

    .event-add-participants {
        margin-bottom: 0;
    }

    .event-metadata td {
        padding-bottom: 3px;

        &:first-child {
            padding-right: 10px;
        }
    }

    .event-stats,
    .event-wiki-stats {
        margin: 36px 0;
    }

    .event-export {
        margin-left: 10px;

        .glyphicon {
            margin-right: 3px;
            position: relative;
            top: 2px;
        }
    }

    .event-stats-status {
        margin-top: 8px;
    }

    .event-section {
        h3 {
            font-size: 24px;
        }

        .panel-heading {
            padding: 10px 0px;

            & > h3,
            & > span {
                height: 26px;
                line-height: 26px;
            }
        }
    }

    .event-new-participants {
        max-width: 458px;
    }

    .save-participants-form {
        position: relative;
    }

    .save-participants-btn {
        left: 0;
        position: absolute;
        top: 0;

    .event-revisions {
        overflow-x: scroll;
    }

    .event-revision {
        white-space: nowrap;
    }
}
