.event,
.eventdata {
    .wiki-row {
        margin-bottom: 13px;

        &:first-child .remove-wiki {
            display: none;
        }

        &:not(:first-child) .label-group {
            visibility: hidden;
        }
    }

    .event__time-selector .form-group {
        margin-bottom: 0;
    }

    .event-metadata td {
        padding-bottom: 3px;

        &:first-child {
            padding-right: 10px;
        }
    }

    .event-metric-desc {
        cursor: help;
    }

    .event-wiki-stats--empty {
        margin: 36px 0;
    }

    .event-stats,
    .event-wiki-stats {
        margin: 36px 0;

        .glyphicon {
            color: #6ea8dc;
            font-size: 14px;
        }
    }

    .event-metadata--grouped {
        margin: 25px 0;

        th {
            padding-right: 20px;
        }
    }

    .event-wiki-stats--grouped {
        margin: 0;

        th,
        td {
            border: 0;
        }

        &:last-of-type {
            margin-bottom: 30px;
        }
    }

    .event-wiki-stats--grouped-hr {
        margin: 5px;
    }

    .event-stats {
        display: flex;
    }

    .event-stats--tile {
        flex: auto;
        margin: 0 5px;
    }

    .event-wiki-stats .glyphicon {
        vertical-align: -1px;
    }

    .event-export {
        margin-left: 10px;

        .glyphicon {
            margin-right: 3px;
            position: relative;
            top: 2px;
        }
    }

    .event-stats-status {
        margin-top: 8px;
    }

    .event-new-participants {
        max-height: 120px;
    }

    .save-participants-btn {
        // Move the save button down to line up with the textarea to its left.
        margin-top: 25px;
    }

    .event-revisions {
        font-size: 13.5px;
    }

    .pagination {
        margin-bottom: 0;
    }

    .add-wiki--all-wikipedias {
        display: inline;
    }

    .checkbox-label {
        padding-left: 17px;

        input {
            margin-left: -17px;
        }
    }
}
